html {
  font-family: 'Oswald', sans-serif;
  color:white;
  background-image: url("https://cdn1-www.superherohype.com/assets/uploads/2019/03/Talos.jpg");
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}

section {

  height: 100%;
}

h1 {
    font-size:2em;
    text-align:center;
    margin:10px 0 0;
}

h2 {
    font-size:1.8em;
    text-align:center;
    margin:0;
}

h3 {
    font-size:1.5em;
    text-align:center;
    margin:0 0 15px;
}

.enter {
	background-color: rgba(115, 85, 115, 0.75);
	color: white;
	display: block;
	text-align: center;
	padding: 0 30px 20px;
	width: 50%;
	margin:0 auto;}


select {
	margin: 0 auto;
	color: #b0669a;
	width: 310px;
	padding: 15px;
	height: 25px;
	cursor: pointer;
	background: url(http://sharpik.com/wip/cuteselect/arrow.png) 295px 12px no-repeat white;
}

select:hover {
	background-color: transparent;
	color: white;
	padding: 15px 5px 15px 25px;
}

select option {
	background-color: white;
	color: gray;
	width: 310px;
	padding: 10px 15px;
	height: 20px;
	cursor: pointer;
}

select option:hover {
	padding-left: 25px;
	width: 270px;
	color: #EC6F66;
}








#enter-speaker input{
border: 1px solid white;
border-radius: 4px;
/* border: none; */
background-color:#ffffff00;
color: white;
font-size: 1em;
width:60%;
padding: 5px 10px;
text-align: center;
}

#enter-speaker h1, h2{
font-size: 1.5em;
margin: 20px auto 5px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bdbdbd;
}

*:focus {
    outline: none;
}


.speaker-show {
background-color: rgba(115, 85, 115, 0.75);
width: 80%;
  margin: 0 auto;
  padding: 0 25px;
  text-align: center
}

.speaker-show ul {
  margin: 0;

  padding-inline-start: 0px;
}
.speaker-show ul li {
    padding: 20px;
  list-style-type: none;
}

.script-title {
  padding: 5px 10px;
  font-size: 2em;
}

input{
	border: none;
  color: white;
  background-color:#ffffff00;
  width: 100%;
  font-size: 2em;
}

.ql-toolbar.ql-snow {
  background-color: #f5f5f587;
}

.ql-container {
  background-color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 48px;
}

marquee {
  background-color: #000000a8;
  height: 100%;
  font-size: 5.5em;
  padding-left: 50px;
}

button {
  border: none;
  background-color: #ffffff00;
  color: white;
  margin: 5px;
  font-size: .8em;
}
